body {
    border-top: 6px solid black;
    
}
.container {
    width: 100%
    display: flex;
    flex-direction: column;
    
}
main {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.imgcontainer {
    background-color: blue; 
}
.topnav {
    background-color: #4D4B4A;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 40px;
    width: 100%;
    
}
.zomato {
   font-size: 20px;
   margin: 0 0 10px 0;
   padding: 15px; 
   color: white; 
}
.threelines {
    margin: 10px 30px 10px 10px;
    
}

.dropdown {
    display: flex;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 50%;
    padding: 1px;
    margin: 2px;
    background-color:white;
}
.dropdownitems {
    display: flex;
    opacity: 0;
    align-items: center;
    width: 20%;
    height: 500px;
    background-color: #4D4B4A;
    position: right;
}
.menudrops .dropdownitems {
    opacity: 1;
}
.unorderedlist {
    list-style: none;
    text-align: right;
}
.li {
    font-size: 15px;
    line-height: 40px;
}
