body {
    border-top: 6px solid black;
    
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
main {
    display: flex;
    justify-content: space-between;
}
.imgcontainer {
    width: 60%;
    height: 400px;
    margin: 10px 10px 10px 10px;
    
}
.topnav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 40px;
    width: 100%;
    
}
.zomato {
   font-size: 25px;
   font-family: caveat;
   margin: 0 0 10px 0;
   padding: 15px; 
   color: white; 
}
.threelines {
    margin: 10px 30px 10px 10px;
    
}
.dropdown {
    display: flex;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 50%;
    padding: 1px;
    margin: 2px;
    background-color:white;
}
.dropdownitems {
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 500px;
    background-color: black;
}
.menudrops .dropdownitems {
    opacity: 1;
}
.unorderedlist {
    list-style: none;
    
}
li {
    font-size: 25px;
    line-height: 60px;
    text-align: left;
    color: white;
    cursor: pointer;
    font-family: caveat;
}
img {
    height: 200px;
    width: 250px;
}
